.note {
	position: relative;
	width: calc(25% - 2em);
	padding: 2em;
	margin: 1em 1em;
	background-color: var(--primary-color);
	border-radius: 45px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.note.blue {
	background-color: var(--primary-color);
}

.note.yellow {
	background-color: var(--yellow-color);
}

.note.yellow .note__body {
	color: var(--black-color) !important;
}

.note.yellow .note__date {
	color: var(--gray-color) !important;
}

.note.green {
	background-color: var(--green-color);
}

.note.gray {
	background-color: var(--gray-color);
}

.note.red {
	background-color: var(--red-color);
}

.note.favorite::before {
	content: " ";
	width: 50px;
	height: 50px;
	position: absolute;
	top: -15px;
	left: -15px;
	background-color: var(--foreground-color);
	border-radius: 100%;
}

.note__star-btn {
	position: absolute;
	top: -10px;
	left: -10px;
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 0.7em;
	font-size: 1em;
	background-color: var(--black-color);
	border-radius: 100%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease-in;
	opacity: 0;
	pointer-events: none;
	user-select: none;
	visibility: hidden;
}

.note__star-btn > ion-icon {
	color: #fff;
	transition: all 0.3s ease-in;
	user-select: none;
	pointer-events: none;
}

.note__star-btn:hover > ion-icon {
	color: var(--yellow-color);
}

.note.favorite > .note__star-btn {
	opacity: 1;
	pointer-events: all;
	user-select: auto;
	visibility: visible;
	background-color: var(--yellow-color);
}

.note.favorite > .note__star-btn > ion-icon {
	color: var(--black-color);
}

.note:hover > .note__edit-btn,
.note:hover > .note__star-btn {
	opacity: 1;
	pointer-events: all;
	user-select: auto;
	visibility: visible;
}

.note__body {
	width: 100%;
	font-size: 0.9em;
	font-weight: 500;
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	line-clamp: 4;
	-webkit-box-orient: vertical;
	margin-bottom: 2em;
}

.note__date {
	margin-top: 2em;
	font-size: 0.9em;
	color: #ffffffbe;
	user-select: none;
	pointer-events: none;
}

.note__edit-btn {
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 0.52em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 22px;
	border-radius: 100%;
	background-color: var(--black-color);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	transition: all 0.2s ease-in-out;
	opacity: 0;
	pointer-events: none;
	user-select: none;
	visibility: hidden;
}

.note__edit-btn > ion-icon {
	color: #fff;
}

@media screen and (max-width: 1365px) {
	.note {
		width: calc(50% - 2em);
	}
}

@media screen and (max-width: 425px) {
	.note {
		width: 100%;
	}
}
