.App {
	display: flex;
	justify-content: space-between;
}

.Main {
	width: 100%;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1.5;
}

.sidebar {
	width: 4.5%;
	height: 100vh;
	box-shadow: 2px 0 15px rgba(0, 0, 0, 0.1);
	border-top-right-radius: 4vw;
	border-bottom-right-radius: 4vw;
}

.toast-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn {
	padding: 0.5em 1em;
	font-size: 0.9em;
	border-radius: 30px;
	margin: 0 0.2em;
	transition: all 0.2s ease-out;
}

.btn--confirm {
	background: none;
}

.btn--confirm:hover {
	background-color: var(--foreground-color);
}

@media screen and (max-width: 1440px) {
	.Main {
		padding: 0 1em 0 1em;
	}
}

@media screen and (max-width: 1365px) {
	.App {
		flex-direction: column;
		justify-content: center;
	}

	.sidebar {
		display: none;
	}
}
