.App {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Main {
	width: 100%;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1.5;
}

.sidebar {
	width: 4.5%;
	height: 100%;
	box-shadow: 2px 0 15px rgba(0, 0, 0, 0.1);
	border-top-right-radius: 4vw;
	border-bottom-right-radius: 4vw;
}

.favorites {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 1.5em 0.8em;
	margin: 1.1em 0;
	border-radius: 60px;
	background-color: var(--foreground-color);
}

.favorites__body {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 1em;
}

.favorites.hidden {
	display: none;
}

.favorites__title {
	position: absolute;
	top: -23px;
	left: 37px;
	font-weight: 900;
	font-size: 1.9em;
	color: var(--favorites-text-color);
	letter-spacing: 1.3px;
}

.notes {
	width: 100%;
	height: 100%;
	margin-top: 1em;
	padding: 0 0.5em;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
}

@media screen and (max-width: 1440px) {
	.Main {
		padding: 0 1em 0 1em;
	}
}

@media screen and (max-width: 1365px) {
	.App {
		flex-direction: column;
		justify-content: center;
	}

	.sidebar {
		display: none;
	}
}

@media screen and (max-width: 425px) {
	.favorites {
		padding: 0.1em;
		padding-top: 0.7em;
	}
}
