/* Raleway font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap");

:root {
	/* Color Palette */
	--primary-color: #278bff;
	--secondary-color: #fff;
	--green-color: #01c395;
	--red-color: #f0043d;
	--cyan-color: #dff1ff;
	--yellow-color: #ffe600;
	--gray-color: #505050;
	--black-color: #111;
	--background-color: #fff;
	--foreground-color: #e6e6e6;
	--favorites-text-color: #cdb903;

	/* Fonts */
	--main-font: Ubuntu, Raleway, sans-serif !important;

	/* react-contexify custom styles */
	--contexify-menu-bgColor: #ffffff;
	--contexify-separator-color: #eee;
	--contexify-item-color: #666;
	--contexify-activeItem-color: #3498db;
	--contexify-activeItem-bgColor: #e0eefd;
	--contexify-rightSlot-color: #6f6e77;
	--contexify-activeRightSlot-color: #3498db;
	--contexify-arrow-color: #6f6e77;
	--contexify-activeArrow-color: #fff;

	--contexify-activeItem-radius: 15px;
}

* {
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #888;
}

::-webkit-scrollbar-thumb {
	background: #f1f1f1;
}

body {
	font-family: var(--main-font) !important;
	background-color: var(--background-color) !important;
	overflow-x: hidden; /* Hide horizontal scrollbar */
}

a {
	text-decoration: none !important;
	color: inherit !important;
}

.container {
	max-width: 1300px !important;
	width: 100%;
	margin: 0 auto !important;
	padding: 0.2em !important;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

select,
input,
button {
	font-family: var(--main-font) !important;
	outline: none;
	border: none;
}

button {
	cursor: pointer;
}

.animate__animated.animate__fadeIn {
	--animate-duration: 0.2s;
}

/* SweetAlert2 Custom Classes */
.popup-custom {
	border-radius: 35px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.input-custom {
	border-radius: 30px !important;
	border: none;
	box-shadow: 0 0 8px rgba(49, 49, 49, 0.2);
}

.input-custom:focus {
	border: unset !important;
	box-shadow: 0 0 8px rgba(49, 49, 49, 0.2) !important;
}

.confirmButton-custom {
	padding: 12px 20px !important;
	border-radius: 30px !important;
	box-shadow: 0 0 10px #0066ffb0;
}

.confirmButton-custom--blue {
	background-color: var(--primary-color) !important;
}

.confirmButton-custom--red {
	background-color: var(--red-color) !important;
	box-shadow: 0 0 5px #ff0d3dad;
}

.confirmButton-custom--red:focus {
	box-shadow: none !important;
}

.confirmButton-custom--gray {
	box-shadow: 0 0 10px #a5a5a59d;
}

.confirmButton-custom--gray:focus {
	box-shadow: none !important;
}

/* react-contexify custom styles */
.contexify {
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(49, 49, 49, 0.2);
}

.contexify_item ion-icon {
	font-size: 1.4em;
	padding: 0 0.3em;
}

.contexify_item:first-of-type .contexify_itemContent {
	color: var(--gray-color);
}

.contexify_item:last-of-type .contexify_itemContent {
	color: var(--red-color);
}
